@define-color bg #3b322b;
@define-color fg #ccb3b3;
@define-color gray1 #cdb398;
@define-color gray2 #817265;
@define-color gray3 #a9a9bc;
@define-color gray4 #cdb198;
@define-color gray5 #b3b0b5;
@define-color fg_bright #ccb3b3;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}